In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../data/external/london_houses_data.csv')

In [3]:
data.sample(5)

,fullAddress,postcode,country,outcode,latitude,longitude,bathrooms,bedrooms,floorAreaSqM,livingRooms,...,saleEstimate_upperPrice,saleEstimate_confidenceLevel,saleEstimate_ingestedAt,saleEstimate_valueChange.numericChange,saleEstimate_valueChange.percentageChange,saleEstimate_valueChange.saleDate,history_date,history_price,history_percentageChange,history_numericChange
55510,"32 The Woodlands, High Road, London, N12 0DU",N12 0DU,England,N12,51.609912,-0.176134,1.0,2.0,74.0,1.0,...,363000.0,HIGH,2024-10-07T13:26:59.894Z,15000.0,4.545455,2022-10-03,2022-10-03,330000,111.538462,174000.0
149064,"87 Calton Avenue, London, SE21 7DF",SE21 7DF,England,SE21,51.454016,-0.083565,NaN,NaN,227.0,NaN,...,3690000.0,HIGH,2024-10-07T13:26:59.894Z,114000.0,3.352911,2023-04-25,2023-04-25,3400001,NaN,NaN
274741,"113C Portnall Road, London, W9 3BB",W9 3BB,England,W9,51.528258,-0.203311,2.0,2.0,82.0,1.0,...,641000.0,HIGH,2024-10-07T13:26:59.894Z,1000.0,0.205495,2022-09-15,2022-09-15,609747,40.171724,174747.0
119657,"Flat 702, Elliot Lodge, 7 Cyrus Field Street, ...",SE10 0XN,England,SE10,51.490124,0.005604,NaN,2.0,83.0,1.0,...,551000.0,HIGH,2024-10-07T13:26:59.894Z,-41000.0,-7.256637,2024-01-12,2017-07-31,541000,NaN,NaN
234144,"Flat D, Langham Mansions, Earl's Court Square,...",SW5 9UH,England,SW5,51.489141,-0.192836,2.0,2.0,113.0,1.0,...,1032000.0,HIGH,2024-10-07T13:26:59.894Z,183000.0,22.875000,2022-06-20,2022-06-20,800000,18.255728,123500.0

In [4]:

print('=======================================================')
print('============== SOME RELEVANT INFORMATION ==============')
print('=======================================================\n')
print('~> Shape of Dataset:', data.shape)
print('~> NÂº Rows:', data.shape[0])
print('~> NÂº Columns:', data.shape[1])
print('\n~> Null values:', [x for x in data.isnull().sum()])
print('\n~> Columns:', data.columns.tolist(), '\n')
print('==================================================')
print('================ DTYPES INFORMATION ==============')
print('==================================================\n')
print('\n~> Dtypes:', [x for x in data.dtypes])
print('\n~> String Columns:', data.select_dtypes('object').columns.tolist())
print('\n~> Float Columns:', data.select_dtypes('float64').columns.tolist())
print('\n~> Integer Columns:', data.select_dtypes('int64').columns.tolist())

=======================================================
============== SOME RELEVANT INFORMATION ==============
=======================================================

~> Shape of Dataset: (282872, 28)
~> NÂº Rows: 282872
~> NÂº Columns: 28

~> Null values: [0, 0, 0, 0, 0, 0, 51103, 26218, 15812, 39135, 6311, 675, 58311, 1222, 1222, 1222, 549, 549, 549, 549, 549, 549, 549, 549, 0, 0, 122213, 122213]

~> Columns: ['fullAddress', 'postcode', 'country', 'outcode', 'latitude', 'longitude', 'bathrooms', 'bedrooms', 'floorAreaSqM', 'livingRooms', 'tenure', 'propertyType', 'currentEnergyRating', 'rentEstimate_lowerPrice', 'rentEstimate_currentPrice', 'rentEstimate_upperPrice', 'saleEstimate_lowerPrice', 'saleEstimate_currentPrice', 'saleEstimate_upperPrice', 'saleEstimate_confidenceLevel', 'saleEstimate_ingestedAt', 'saleEstimate_valueChange.numericChange', 'saleEstimate_valueChange.percentageChange', 'saleEstimate_valueChange.saleDate', 'history_date', 'history_price', 'history_percentageChange', 'history_numericChange']

==================================================
================ DTYPES INFORMATION ==============
==================================================


~> Dtypes: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('int64'), dtype('float64'), dtype('float64')]

~> String Columns: ['fullAddress', 'postcode', 'country', 'outcode', 'tenure', 'propertyType', 'currentEnergyRating', 'saleEstimate_confidenceLevel', 'saleEstimate_ingestedAt', 'saleEstimate_valueChange.saleDate', 'history_date']

~> Float Columns: ['latitude', 'longitude', 'bathrooms', 'bedrooms', 'floorAreaSqM', 'livingRooms', 'rentEstimate_lowerPrice', 'rentEstimate_currentPrice', 'rentEstimate_upperPrice', 'saleEstimate_lowerPrice', 'saleEstimate_currentPrice', 'saleEstimate_upperPrice', 'saleEstimate_valueChange.numericChange', 'saleEstimate_valueChange.percentageChange', 'history_percentageChange', 'history_numericChange']

~> Integer Columns: ['history_price']

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282872 entries, 0 to 282871
Data columns (total 28 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   fullAddress                                282872 non-null  object
 1   postcode                                   282872 non-null  object
 2   country                                    282872 non-null  object
 3   outcode                                    282872 non-null  object
 4   latitude                                   282872 non-null  float64
 5   longitude                                  282872 non-null  float64
 6   bathrooms                                  231769 non-null  float64
 7   bedrooms                                   256654 non-null  float64
 8   floorAreaSqM                               267060 non-null  float64
 9   livingRooms                                243737 non-null  float64
 10  tenure                                     276561 non-null  object
 11  propertyType                               282197 non-null  object
 12  currentEnergyRating                        224561 non-null  object
 13  rentEstimate_lowerPrice                    281650 non-null  float64
 14  rentEstimate_currentPrice                  281650 non-null  float64
 15  rentEstimate_upperPrice                    281650 non-null  float64
 16  saleEstimate_lowerPrice                    282323 non-null  float64
 17  saleEstimate_currentPrice                  282323 non-null  float64
 18  saleEstimate_upperPrice                    282323 non-null  float64
 19  saleEstimate_confidenceLevel               282323 non-null  object
 20  saleEstimate_ingestedAt                    282323 non-null  object
 21  saleEstimate_valueChange.numericChange     282323 non-null  float64
 22  saleEstimate_valueChange.percentageChange  282323 non-null  float64
 23  saleEstimate_valueChange.saleDate          282323 non-null  object
 24  history_date                               282872 non-null  object
 25  history_price                              282872 non-null  int64
 26  history_percentageChange                   160659 non-null  float64
 27  history_numericChange                      160659 non-null  float64
dtypes: float64(16), int64(1), object(11)
memory usage: 60.4+ MB

In [6]:
FEATURE_COLS = data.select_dtypes('float64').columns.tolist() # vou usar somente as colunas float
TARGET = 'history_price'

In [16]:
data[TARGET].min()

np.int64(10000)

In [7]:
data[FEATURE_COLS].to_csv('../../data/processed/train.csv', index=False)
data[TARGET].to_csv('../../data/processed/test.csv', index=False)