In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../data/external/london_houses_data.csv')

In [3]:
data.sample(5)

,fullAddress,postcode,country,outcode,latitude,longitude,bathrooms,bedrooms,floorAreaSqM,livingRooms,...,saleEstimate_upperPrice,saleEstimate_confidenceLevel,saleEstimate_ingestedAt,saleEstimate_valueChange.numericChange,saleEstimate_valueChange.percentageChange,saleEstimate_valueChange.saleDate,history_date,history_price,history_percentageChange,history_numericChange
266373,"135 Watchfield Court, Sutton Court Road, Londo...",W4 4NE,England,W4,51.490462,-0.267321,1.0,3.0,106.0,1.0,...,946000.0,MEDIUM,2024-10-07T13:26:59.894Z,-40000.0,-4.444444,2021-03-31,2021-03-31,900000,5.882353,50000.0
88166,"14 Winchester Place, London, N6 5HJ",N6 5HJ,England,N6,51.570985,-0.142317,4.0,4.0,224.0,3.0,...,2610000.0,HIGH,2024-10-07T13:26:59.894Z,486000.0,24.300000,2021-01-22,2021-01-22,2000000,NaN,NaN
184270,"66A Court Road, London, SE9 5NP",SE9 5NP,England,SE9,51.445112,0.051940,1.0,3.0,164.0,2.0,...,609000.0,MEDIUM,2024-10-07T13:26:59.894Z,44000.0,8.627451,2021-06-30,2021-06-30,510000,85.454545,235000.0
64143,"17 Foulden Road, London, N16 7UU",N16 7UU,England,N16,51.555947,-0.073080,1.0,3.0,134.0,2.0,...,1428000.0,HIGH,2024-10-07T13:26:59.894Z,180000.0,15.254237,2021-01-26,2021-01-26,1180000,-0.211416,-2500.0
253223,"Flat 4, 30 Harley Street, London, W1G 9PW",W1G 9PW,England,W1G,51.518525,-0.146514,1.0,1.0,69.0,1.0,...,1045000.0,MEDIUM,2024-10-07T13:26:59.894Z,295000.0,45.038168,2013-01-10,2009-04-08,550000,61.764706,210000.0

In [4]:

print('=======================================================')
print('============== SOME RELEVANT INFORMATION ==============')
print('=======================================================\n')
print('~> Shape of Dataset:', data.shape)
print('~> NÂº Rows:', data.shape[0])
print('~> NÂº Columns:', data.shape[1])
print('\n~> Null values:', [x for x in data.isnull().sum()])
print('\n~> Columns:', data.columns.tolist(), '\n')
print('==================================================')
print('================ DTYPES INFORMATION ==============')
print('==================================================\n')
print('\n~> Dtypes:', [x for x in data.dtypes])
print('\n~> String Columns:', data.select_dtypes('object').columns.tolist())
print('\n~> Float Columns:', data.select_dtypes('float64').columns.tolist())
print('\n~> Integer Columns:', data.select_dtypes('int64').columns.tolist())

=======================================================
============== SOME RELEVANT INFORMATION ==============
=======================================================

~> Shape of Dataset: (282872, 28)
~> NÂº Rows: 282872
~> NÂº Columns: 28

~> Null values: [0, 0, 0, 0, 0, 0, 51103, 26218, 15812, 39135, 6311, 675, 58311, 1222, 1222, 1222, 549, 549, 549, 549, 549, 549, 549, 549, 0, 0, 122213, 122213]

~> Columns: ['fullAddress', 'postcode', 'country', 'outcode', 'latitude', 'longitude', 'bathrooms', 'bedrooms', 'floorAreaSqM', 'livingRooms', 'tenure', 'propertyType', 'currentEnergyRating', 'rentEstimate_lowerPrice', 'rentEstimate_currentPrice', 'rentEstimate_upperPrice', 'saleEstimate_lowerPrice', 'saleEstimate_currentPrice', 'saleEstimate_upperPrice', 'saleEstimate_confidenceLevel', 'saleEstimate_ingestedAt', 'saleEstimate_valueChange.numericChange', 'saleEstimate_valueChange.percentageChange', 'saleEstimate_valueChange.saleDate', 'history_date', 'history_price', 'history_percentageChange', 'history_numericChange']

==================================================
================ DTYPES INFORMATION ==============
==================================================


~> Dtypes: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('int64'), dtype('float64'), dtype('float64')]

~> String Columns: ['fullAddress', 'postcode', 'country', 'outcode', 'tenure', 'propertyType', 'currentEnergyRating', 'saleEstimate_confidenceLevel', 'saleEstimate_ingestedAt', 'saleEstimate_valueChange.saleDate', 'history_date']

~> Float Columns: ['latitude', 'longitude', 'bathrooms', 'bedrooms', 'floorAreaSqM', 'livingRooms', 'rentEstimate_lowerPrice', 'rentEstimate_currentPrice', 'rentEstimate_upperPrice', 'saleEstimate_lowerPrice', 'saleEstimate_currentPrice', 'saleEstimate_upperPrice', 'saleEstimate_valueChange.numericChange', 'saleEstimate_valueChange.percentageChange', 'history_percentageChange', 'history_numericChange']

~> Integer Columns: ['history_price']

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282872 entries, 0 to 282871
Data columns (total 28 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   fullAddress                                282872 non-null  object
 1   postcode                                   282872 non-null  object
 2   country                                    282872 non-null  object
 3   outcode                                    282872 non-null  object
 4   latitude                                   282872 non-null  float64
 5   longitude                                  282872 non-null  float64
 6   bathrooms                                  231769 non-null  float64
 7   bedrooms                                   256654 non-null  float64
 8   floorAreaSqM                               267060 non-null  float64
 9   livingRooms                                243737 non-null  float64
 10  tenure                                     276561 non-null  object
 11  propertyType                               282197 non-null  object
 12  currentEnergyRating                        224561 non-null  object
 13  rentEstimate_lowerPrice                    281650 non-null  float64
 14  rentEstimate_currentPrice                  281650 non-null  float64
 15  rentEstimate_upperPrice                    281650 non-null  float64
 16  saleEstimate_lowerPrice                    282323 non-null  float64
 17  saleEstimate_currentPrice                  282323 non-null  float64
 18  saleEstimate_upperPrice                    282323 non-null  float64
 19  saleEstimate_confidenceLevel               282323 non-null  object
 20  saleEstimate_ingestedAt                    282323 non-null  object
 21  saleEstimate_valueChange.numericChange     282323 non-null  float64
 22  saleEstimate_valueChange.percentageChange  282323 non-null  float64
 23  saleEstimate_valueChange.saleDate          282323 non-null  object
 24  history_date                               282872 non-null  object
 25  history_price                              282872 non-null  int64
 26  history_percentageChange                   160659 non-null  float64
 27  history_numericChange                      160659 non-null  float64
dtypes: float64(16), int64(1), object(11)
memory usage: 60.4+ MB

In [6]:
FEATURE_COLS = data.select_dtypes('float64').columns.tolist() # vou usar somente as colunas float
TARGET = 'history_price'

In [7]:
data[FEATURE_COLS].to_csv('../../data/processed/train.csv', index=False)
data[TARGET].to_csv('../../data/processed/test.csv', index=False)